/*body {
  background-color: #999;
}

.searchArea {
  background-color: #ccc;
}

.display {
  background-color: #eee;
}*/

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.options {
  margin: 4px 0px;
}

/*.options:hover {
  text-shadow: 1px 1px 1px #d00;
}*/

.pure-img {
  width: 40%;
  margin: 10px auto;
}

.selected, .transportation {
  box-shadow: inset 0px 0px 20px #d00;
}

.chosen {
  text-shadow: 1px 1px 1px #d00;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  /*background-color: #ccc;*/
  margin: 5px 0px;
}

.main-heading {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  text-shadow: 2px 2px 1px #d00;
}

.footer {
  text-align: center;
  font-size: 0.7em;
}

form {
  margin-bottom: 15px;
}

div {
/*  word-wrap: break-word;*/
  font-size: 2.7vmax;
}

.name {
  text-align: center;
  font-weight: bold;
}

.picture, .phone, .center {
  text-align: center;
}

.center {
  margin-top: 5px;
  margin-bottom: 10px;
}

.address {
  text-align: left;
}

.snippet {
  font-style: italic;
  text-aling: right;
}

.reviews {
  text-align: center;
  font-weight: bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*h1 {
  font-size: 5.9vw;
}*/
h2 {
  font-size: 3.9vmax;
}
/*p {
  font-size: 2vmin;
}*/